:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
  background: white;
  margin: 0;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}


